<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

  <title>Connect.WeCode</title> 
  <ul>
    <li><a href="home">Home</a></li>
    <li><a href = "feed"> News Feed</a></li>
    <li><a href = "list"> List of Users</a></li>
    {% if "username" in session %}
    <li style="float: right;"><a href='logout'>Logout</a></li>
    {% else %}
    <li style="float: right;"><a href = "login"> Login</a></li>
    <li style="float: right;"><a href = "register">Register</a></li>
    {% endif %}
    <center>
      <img src="../static/images/wecode1.png" height="65px" width="500px" style="margin-right:20px;">
    </center>
<!-- TODO: add more links on the navigation bar here -->
  </ul>
</head>

<body class="background">

{% block body %}
<h1>My home page</h1>

<p>My first paragraph.</p>
{% endblock %}
</body>
</html>