<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

  <title>WeCode Portal</title> 
  <ul>
    <li><a href="home">Home</a></li>
    <li><a href = "feed"> News Feed</a></li>
    <li><a href = "list"> List of Users</a></li>
    <li><a href = "login"> Login</a></li>
    <li><a href='logout'>Logout</a></li>
    <li style="float: right;"><a href = "register">Register</a></li>

<!-- TODO: add more links on the navigation bar here -->
  </ul>
</head>

<body class="background">

{% block body %}
<h1>My home page</h1>

<p>My first paragraph.</p>
{% endblock %}
</body>
</html>