{% extends "base.html" %}

{% block body %}
<br>
<br>


<div style=" background-color: #a7f977;
  height:220px;
  width: 90%;
  box-shadow: 1px 10px 100px #888888;" >
	<br>
	<img class="img" src="../static/images/16729362_10208168142061892_2360410263682830684_n.jpg" width="150" height="150" style="border-radius: 110px;">
	<br>
	<br>
	<br>

	<p style="font-family: sans-serif; line-height: 150%; text-align: center; font-size: 100%;">"I am Omar Khatib,  an inspired Palestinian teenager, student, entrepreneur and athlete. Passionate to contribute to my society towards a better future. Searching for my destiny whatever & wherever it is..."
		<br>
		Email: omarkhatib@rfs.edu.ps</p>
</div>

	<br>
	<br>
	<br>
	<br>

<div class= "r" >
		<br>
		<img class="img" src="../static/images/20403329_341636639603252_1459524152_n.jpg" width="150" height="150" style="border-radius: 110px; float: right;">
		<br>
		<br>
		<br>
		<p style="font-family: sans-serif; line-height: 150%; text-align: center; font-size: 100%;">"I am sadeel malassa,  a girl from palestine, student, active,. I adore food more than any thing, I have lots of dreams that im sure one day im going to make them ture.."
			<br>
			Email: sadeel.malasa@gmail.com</p>
</div>

		<br>
		<br>

		{% endblock %}