{% extends "base.html" %}

{% block body %}

<!-- <h1>Home Page</h1> -->

<!-- TODO: implement home page. -->

<style>
.mySlides {display:none;}
</style>

<br>
<center>
<div>
  <img class="mySlides" src="../static/images/17634604_10210927523298444_4767909000672608087_n.jpg" width="800" height="500"  style="border-radius: 30px;">
  <img class="mySlides" src="../static/images/14088455_10208806879723680_3372759012672479488_n.jpg"  width="800" height="500" style="border-radius: 30px;">

</div>
</center>


<script type="text/javascript">

var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
 <br>
 <br>
 <br>
 <br>
 <h2><i><font>we code is not just about learning and studying we code is for you as a person to make you believe in your self that you can do whatever you want. It gave us better chances for our future “exactly what I was looking for”.</h2></font></i>
<img class="img" src="../static/images/wecode.png" width="250" height="200" style="border-radius: 110px;">






{% endblock %}