{% extends "base.html" %}

{% block body %}

<!-- <h1>Home Page</h1> -->

<!-- TODO: implement home page. -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>

<br>
<center>
<div>
  <img class="mySlides" src="../static/17634604_10210927523298444_4767909000672608087_n.jpg" width="800" height="400"  style="border-radius: 30px;">
  <img class="mySlides" src="../static/14088455_10208806879723680_3372759012672479488_n.jpg"  width="800" height="400" style="border-radius: 30px;">

</div>
</center>


<script type="text/javascript">

var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
{% endblock %}