{% extends "base.html" %}

{% block body %}

<!-- <h1>Home Page</h1> -->

<!-- TODO: implement home page. -->

<style>
.mySlides {display:none;}
</style>


<center>
<div>
  <img class="mySlides" src="../static/images/17634604_10210927523298444_4767909000672608087_n.jpg" width="100%" height="600">
  
  <img class="mySlides" src="../static/images/14088455_10208806879723680_3372759012672479488_n.jpg"  width="100%" height="600">
  
  <img class="mySlides" src="../static/images/13697172_1274264395924508_6052360748106162573_n.jpg"  width="100%" height="600">
 
  <img class="mySlides" src="../static/images/15267643_1131987560230565_972187449904172448_n.jpg"  width="100%" height="600">
  
  <img class="mySlides" src="../static/images/16508468_10154490898970889_6831179873816882191_n.jpg"  width="100%" height="600">
  
  <img class="mySlides" src="../static/images/16649519_10154490898960889_2482505592278358199_n.jpg"  width="100%" height="600">
  
  <img class="mySlides" src="../static/images/16684358_10154490899465889_3608026793197887583_n.jpg"  width="100%" height="600">

<img class="mySlides" src="../static/images/17629853_10154626127725889_7527729995067172480_n.jpg"  width="100%" height="600">

<img class="mySlides" src="../static/images/20228957_10154965677255889_8871037519802219911_n.jpg"  width="100%" height="600">

<img class="mySlides" src="../static/images/20229259_10154975997805889_3994657790298386488_n.jpg"  width="100%" height="600">




<script type="text/javascript">

var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
 <br>

 <br>
 </div>
</center>
 <br>
 <br>
 <center>
 <div id = wecodediv>
<img class="img" src="../static/images/wecode.png" width="250" height="200" style="border-radius: 110px;">
<h2>we code is a</h2>
</div>
</center>

{% endblock %}