{% extends "base.html" %}

{% block body %}

<h1>List Page</h1>



<!-- TODO: implement list page -->
<!-- 
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}
</style>
<table style="width:100px;">


<tr>	
	<td>First name</td>
	<td>last name</td>
	<td>user name</td>
	<td>email</td>
	<td>personal site</td>
</tr>
{% for person in allusers %}
<tr>
<td> {{person.firstname}} </td> 
<td> {{person.lastname}} </td> 
<td> {{person.username}} </td> 
<td> {{person.email}} </td> 
<td> {{person.personalsite}} </td> 
</tr>
{% endfor %}
	</table> -->






<style>
.card {
    background-color: grey;
    box-shadow: 10px 10px 5px #888888;
    box-shadow: 0 4px 8px 0 rgba(15px, 22px, 41px, #888888);
    transition : 0.3s;
    width: 250px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
</style>

<li>
 {% for users in allusers %}

<div class="card">
<center><img src="../static/images/img_avatar3.png" alt="Avatar" style="border-radius: 50px; width: 60%;"></center>
  <div class="container">
    
    <h4 style="text-align: center;"><b> {{users.username}} </b></h4>
    <h4 style="text-align: center;"><b> {{users.firstname}} {{users.lastname}} </b></h4>
    <h4 style="text-align: center;"><b> {{users.email}} </b></h4>
    <a href= "{{users.personalwebsite}}">click me</a>
   
  </div>
</div>
<br>
{% endfor %}
</li>


{% endblock %}